body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  top: 0;
  margin: 0;
  margin-top: 0;
  padding: 0;
}

.logo {
  filter: drop-shadow(#252525 2px 2px 2px);
  text-align: center;
  width: 50vw;
  height: 15vh;
}
.barra-lateral {
  top: 0;
  background-color: #007bff;
  position: fixed;
  width: 13vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

router-link {
  width: fit-content;
  height: fit-content;
}

.icone {
  background-color: transparent;
  width: 6vw;
  height: 12vh;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.barra-lateral .icone:nth-child(1),
barra-lateral .icone:nth-child(2) {
  background-color: transparent;
  color: #007bff;
}

.barra-lateral .icone:hover {
  background-color: #3997fc;
}

.barra-lateral .icone i {
  font-size: 24px;
}
